.abonements {
  padding-top: 121px;
  padding-bottom: 120px;
  background-color: #f8f9fc;

  @include media-tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include media-mobile {
    padding-top: 73px;
    padding-bottom: 70px;
  }

  &__content {
    flex-direction: column;
    align-items: center;
  }

  & h2 {
    @include h2-heading;
    margin-bottom: 33px;
    width: 226px;

    @include media-tablet {
      margin-bottom: 29px;
      width: 193px;
    }

    @include media-mobile {
      margin-bottom: 20px;
      width: 147px;
    }
  }

  &__switches {
    margin-bottom: 39px;

    @include media-tablet {
      margin-bottom: 45px;
    }

    @include media-mobile {
      margin-bottom: 34px;
    }
  }
}
