.advantages {
  background-color: #f8f9fc;

  &__content {
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 114px;

    @include media-tablet {
      padding-top: 100px;
      padding-bottom: 92px;
    }

    @include media-mobile {
      padding-top: 70px;
      padding-bottom: 27px;
    }
  }

  & h2 {
    @include h2-heading;
    margin-bottom: 62px;

    @include media-tablet {
      margin-bottom: 42px;
    }

    @include media-mobile {
      margin-bottom: 44px;
    }
  }

  &__list {
    @include list-reset;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-tablet {
      justify-content: flex-start;
    }

    @include media-mobile {
      flex-direction: column;
      align-items: center;
    }
  }
}
