.event-card {
  display: flex;
  background-color: #ed0233;

  &__information {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    color: $text-white;
    margin-right: 70px;
    margin-bottom: 84px;
    padding-top: 83px;
    padding-left: 78px;
  }

  &__heading {
    @include text-block-reset;
    margin-bottom: 10px;
    margin-right: 48px;
    width: 201px;
    font-family: $bebas;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 3px;
  }

  &__lead {
    @include text-block-reset;
    margin-bottom: 44px;
    font-family: $roboto;
    font-size: 18px;
    line-height: 27px;
    width: 280px;
  }

  &__link {
    width: 346px;
    height: 71px;
  }

  &__image {
    & img {
      display: block;
    }
    flex-shrink: 0;
  }
}
