.free-lesson {
  width: 50%;
  background-color: $main-dark-blue;
  flex-shrink: 0;

  @include media-tablet {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 68px;
    padding-right: 170px;
    padding-bottom: 69px;
    padding-left: 103px;
    max-width: 683px;

    @include media-tablet {
      align-items: center;
      margin: 0 auto;
      padding-right: 133px;
      padding-bottom: 68px;
      padding-left: 133px;
      max-width: 1023px;
      min-width: 768px;
    }

    @include media-mobile {
      @include mobile-paddings;
      padding-bottom: 69px;
      max-width: 767px;
      min-width: 320px;
    }
  }

  & h2 {
    @include h2-heading;
    color: $text-white;
    margin-bottom: 45px;

    @include media-tablet {
      margin-bottom: 40px;
      padding-right: 30px;
      width: 502px;
    }

    @include media-mobile {
      padding-right: 0;
      width: 290px;
    }
  }

  & form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 410px;

    @include media-tablet {
      padding-right: 30px;
      width: 502px;
    }

    @include media-mobile {
      padding-right: 0;
      width: 290px;
    }
  }

  & label {
    margin-bottom: 28px;

    @include media-mobile {
      &:first-of-type {
        margin-bottom: 37px;
      }

      &:last-of-type {
        margin-bottom: 39px;
      }
    }
  }

  & input {
    padding-bottom: 4px;
    width: 190px;
    background: none;
    border: none;
    border-bottom: 1px solid #74819c;

    color: $text-white;
    font-family: $roboto;
    font-size: 14px;
    line-height: 16px;

    @include media-tablet {
      width: 206px;
    }

    @include media-mobile {
      width: 290px;
    }

    &::placeholder {
      color: $text-white;
      font-size: 14px;
      line-height: 16px;
    }
  }

  & button {
    width: 100%;
    height: 55px;
    background: none;
    border-width: 3px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }
}
