.promo {
  &__content {
    padding-top: 118px;
    padding-bottom: 80px;

    @include media-tablet {
      justify-content: center;
      padding-top: 102px;
      padding-bottom: 60px;
    }

    @include media-mobile {
      padding-top: 70px;
      padding-bottom: 40px;
    }
  }
}
