$gradient-first: #ed0233;
$gradient-second: #003eb7;
$subscription-price: #103aae;
$text-white: #ffffff;
$main-dark-blue: #102654;
$secondary-dark-blue: #1c3374;
$gray: #495a7d;

$roboto: "Roboto Condensed", "Arial", sans-serif;
$bebas: "Bebas Neue", "Arial", sans-serif;

@mixin list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@mixin text-block-reset {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin desktop-paddings {
  padding-left: 103px;
  padding-right: 103px;
}

@mixin tablet-paddings {
  padding-left: 45px;
  padding-right: 45px;
}

@mixin mobile-paddings {
  padding-left: 15px;
  padding-right: 15px;
}

@mixin media-tablet {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin h2-heading {
  @include text-block-reset;
  color: $main-dark-blue;
  font-family: $bebas;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 1.5px;

  @include media-tablet {
    font-size: 42px;
    line-height: 42px;
  }

  @include media-mobile {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1px;
  }
}
